@model IEnumerable<ApexVolley.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>I giocatori della nostra squadra</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cognome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ruolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltezzaCm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroMaglia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ruolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltezzaCm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroMaglia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
